// device
$tablet: 1080px;
$mobile: 760px;

// font-size
$font-size-desktop: 16px;
$font-size-tablet: 14px;
$font-size-mobile: 12px;

// responsive
@mixin TABLET {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin MOBILE {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

// hover
@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin sidePadding {
  padding: 0 6.75rem;
}

@mixin wrapper {
  @include sidePadding;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

@mixin gradientBg($deg) {
  background: linear-gradient($deg, #005099 0%, #78beff 100%);
}

@mixin gradientText {
  background: linear-gradient(90deg, rgba(#0094ff, 1) 0%, rgba(#c6f1ff, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin gradientHoverText($color) {
  background-image: linear-gradient(to right, $color, $color 33.33333%, #0094ff 66.66666%, #c6f1ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  color: $color;
  background-position: top left;
  transition: background-position 0.5s ease-in-out;
  @include hover {
    background-position: top left 100%;
  }
}
