// device
$tablet: 1080px;
$mobile: 760px;

// font-size
$font-size-10: 16px;
$font-size-05: 14px;
$font-size-00: 12px;

// colors

// responsive
@mixin TABLET {
  @media screen and (max-width: $tablet) {
    @content;
  }
}
@mixin MOBILE {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}
@mixin wrapper {
  padding: 0 6.75rem;
}
@mixin gradientBg {
  background: linear-gradient(180deg, rgba(0, 80, 153, 1) 0%, rgba(120, 190, 255, 1) 100%);
}
@mixin gradientText {
  background: linear-gradient(90deg, rgba(#005099, 1) 0%, rgba(#78beff, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
