@import 'styles/common';

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-optical-sizing: auto;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: $font-size-10;
  @include TABLET {
    font-size: $font-size-05;
  }
  @include MOBILE {
    font-size: $font-size-00;
  }
}
body {
  min-height: 100vh;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
h1,
h2,
h3,
h4,
p,
li {
  text-wrap: balance;
}
a {
  text-decoration: none;
  color: #000;
}
img,
picture {
  max-width: 100%;
  display: block;
  pointer-events: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  appearance: none;
  border: 0;
  outline: 0;
  cursor: pointer;
}
